@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}


/* Color Vairable */
:root {
    --bg-color: #EEF0F4;
    --container-bg-color: #d7e0f4;
    --input-text-color: #432000;
    --input-background-color: #fbfbfb;
    --button-text-color: #FDFDFD;
    --button-background-color: #AC485A;
}

html,
body {
    background-color: var(--bg-color);
}

.container {
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 10px;
    padding: 25px;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    border: 0;
    text-align: center;
    font-size: 20px;
    outline: none;
}


button {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #432000;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
}


ul li:hover {
    background-color: #ffecc7;
    cursor: pointer;
}

#noitem {
    background-color: var(--button-text-color);
    color: var(--button-background-color);
    border: 0;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 auto;
}