@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
    user-select: none;
}


/* Color Vairable */
:root {
    --bg-color: #532C1F;
    --container-bg-color: #E9E7E4;
    --input-text-color: #432000;
    --input-background-color: #E9E7E4;
    --button-text-color: #FDFDFD;
    --button-background-color: #532C1F;
}

html,
body {
    background-color: var(--bg-color);
}

#heading1,
.heading1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

#heading2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}


#container1 {
    text-align: center;
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 25px;
    border: 2PX solid black;
}

.container2 {
    text-align: center;
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 2PX solid black;
    padding: 25px;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    border: 0;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: 0.5PX SOLID BLACK;
    transition: 0.5s smooth;
}


button {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #432000;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    border: 0.5PX SOLID BLACK;

}


ul li:hover {
    background-color: #ffecc7;
    cursor: pointer;
}

#noitem {
    background-color: #FFFDF8;
    color: var(--button-background-color);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 auto;
    border: 0.5PX SOLID BLACK;

}

@media (max-width:617px) {
    .container {
        margin-top: 180px;
        margin-bottom: 180px;
        width: auto;
    }
}

@media (max-width:450px) {
    #heading1 .heading1 {
        text-align: center;
        font-size: 40px;
        margin: auto;
    }

    #heading2 {
        text-align: center;
        font-size: 30px;
        margin: auto;
    }

    #container1 {
        background-color: var(--container-bg-color);
        display: flex;
        flex-direction: column;
        max-width: 450px;
        margin: 0 auto;
        margin-top: 155px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        padding: 25px;
    }

    .container2 {
        background-color: var(--container-bg-color);
        display: flex;
        flex-direction: column;
        max-width: 450px;
        margin: 0 auto;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        padding: 25px;
    }
}